Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, auto-fix-common

no-print-statements:
  name: Check for print statements
  entry: print\(
  language: pygrep

auto-fix-common:
  name: Auto-fix common Python issues
  entry: bash -c 'for f in "$@"; do sed -i "s/from typing import Dict, List, Optional/from typing import Optional/g" "$f"; done' --
  language: system

fix(mcp): read watchdog state as one atomic snapshot (no reap-at-completion race)
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Due: no-print-statements, auto-fix-common

chore(vscode-ext): set marketplace publisher to jddunn
  vscode-extension/package.json
Due: none

chore(vscode-ext): resolve tenets-mcp via portable paths (drop hardcoded /Users/johnn); bump 0.1.1
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/serverManager.ts
Due: none

chore(vscode-ext): marketplace publisher is ManicAgency (repo owner jddunn is separate)
  vscode-extension/package.json
Due: none

fix(ranking): --ml selects ml mode unless --mode is explicit
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tests/core/ranker/test_ml_mode_phase0.py
Due: auto-fix-common

fix(ranking): ML weights stable once a semantic backend is configured (no lazy-load race)
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
Due: no-print-statements, auto-fix-common

fix(ranking): embed the query once per ML pass instead of per file
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
Due: no-print-statements, auto-fix-common

fix(ranking): never construct an embedding model at ranker init or MCP warmup
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
  tests/core/ranker/test_ranker.py
Due: no-print-statements, auto-fix-common

fix(ranking): load ML model before capturing weights so --ml actually weights semantic
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_ml_mode_phase0.py
Due: no-print-statements, auto-fix-common

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(tests/|examples/|scripts/|tenets/cli/)
  auto-fix-common: any of: \.py$, but not: ^tests/
