Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, version-consistency

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(tests/|examples/)
  version-consistency: any of: (pyproject\.toml|tenets/__init__\.py)

fix: date type compatibility and syntax indentation fixes
  tenets/__init__.py
  tenets/storage/session_db.py
Due: no-print-statements, version-consistency

fix: precommit windows compatibility; syntax and other file issues; secrets baseline detection
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

fix: actions syntax and issue fixes; test ranker fix missing weights; other syntax type fixes; newline other issues with linting
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
  tenets/core/analysis/analyzer.py
  tenets/models/context.py
  tenets/storage/cache.py
  tests/core/ranker/test_ranker.py
Due: no-print-statements, version-consistency

fix: add programming related stopwords (optional) for tfidf analysis summarizing etc
  tenets/core/ranking/stopwords.txt
Due: none

feat: revamp with full ml pipelines and viz featureset
  .tenets.example.yml
  MAKEFILE
  pyproject.toml
  tenets/cli/commands/config.py
  tenets/config.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/factors.py
  tenets/core/ranking/ml_utils.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/ranker/__init__.py
  tenets/core/ranking/ranker/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/ranking/tfidf.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/llm.py
  tenets/core/summarizer/summarizer.py
  tenets/models/llm.py
  tenets/utils/tokens.py
  tenets/viz/_init_.py
  tenets/viz/base.py
  tenets/viz/complexity.py
  tenets/viz/contributors.py
  tenets/viz/coupling.py
  tenets/viz/dependencies.py
  tests/utils/test_tokens.py
Due: no-print-statements, version-consistency

feat: mv data and stopwords into their own assets / data dir
  tenets/data/pattterns/programming_patterns.json
  tenets/data/stopwords/minimal.txt
  tenets/data/stopwords/prompt_aggressive.txt
Due: none

docs: revamp site styles
  docs/js/back-to-top.js
  docs/js/copy-buttons.js
  docs/logos/tenets_dark_icon_transparent.png
  docs/logos/tenets_dark_icon_transparent_cropped.png
  docs/overrides/main.html
  docs/overrides/partials/logo.html
  docs/styles/back-to-top.css
  docs/styles/buttons.css
  docs/styles/footer.css
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/terminal.css
  docs/styles/victorian.css
Due: none

finalize nav / search styles
  docs/docs.md
  docs/index.md
  docs/js/lantern.js
  docs/js/mobile-search-drawer.js
  docs/js/search-enhancements.js
  docs/js/search-open-fallback.js
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/nav-fixes.css
  docs/styles/overrides.css
  docs/styles/search.css
  docs/styles/see-it-in-action.css
  docs/styles/victorian.css
Due: none

fix: tfidf import / class fixes from nlp revamp
  tenets/config.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/hotspots.py
  tenets/core/examiner/ownership.py
  tenets/core/nlp/__init__.py
  tenets/core/nlp/cache.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/ml_utils.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/nlp/similarity.py
  tenets/core/nlp/stopwords.py
  tenets/core/nlp/tfidf.py
  tenets/core/nlp/tokenizer.py
  tenets/core/prompt/__init__.py
  tenets/core/prompt/parser.py
  tenets/core/ranking/ml_utils.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/stopwords.txt
  tenets/core/ranking/strategies.py
  tenets/core/ranking/tfidf.py
  tenets/core/summarizer/strategies.py
  tenets/core/summarizer/summarizer.py
Due: no-print-statements

fix: tfidf and ranking test fixes
  tests/conftest.py
  tests/core/ranker/test_ranker.py
  tests/core/reporter/test_generator.py
  tests/core/reporter/test_html_reporter.py
Due: none

fix: docs setup and finalizing; test config
  .tenets.example.yml
  CNAME
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  mkdocs.yml
  pytest.ini
Due: none

docs: more site fixes / nav styles / search working
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/styles/mobile.css
  docs/styles/overrides.css
Due: none

docs: site fixes
  docs/api/reference.md
  docs/docs.md
  docs/gen_api.py
  docs/overrides/home.html
  docs/styles/mobile.css
  docs/styles/see-it-in-action.css
  docs/styles/victorian.css
  mkdocs.yml
Due: no-print-statements

feat: add system instruction to injector / cmd; update injector / instiller tests
  .tenets.example.yml
  README.md
  pyproject.toml
  tenets/cli/__init__.py
  tenets/cli/commands/instill.py
  tenets/cli/commands/system-instruction.py
  tenets/config.py
  tenets/core/__init__.py
  tenets/core/instiller/instiller.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/tfidf.py
  tenets/core/reporting/__init__.py
  tenets/viz/__init__.py
  tenets/viz/_init_.py
  tests/core/distiller/test_optimizer.py
  tests/core/distiller/test_transform.py
  tests/core/instiller/test_injector.py
  tests/core/instiller/test_instiller.py
  tests/core/nlp/test_cache.py
  tests/core/nlp/test_embeddings.py
  tests/core/nlp/test_keyword_extractor.py
  tests/core/nlp/test_ml_utils.py
  tests/core/nlp/test_programming_patterns.py
  tests/core/nlp/test_similarity.py
  tests/core/nlp/test_stopwords.py
  tests/core/nlp/test_tfidf.py
  tests/core/nlp/test_tokenizer.py
  tests/core/summarizer/test_summarizer.py
Due: no-print-statements, version-consistency

fix: some site style fixes; architecture and config revamp
  docs/styles/mobile.css
  docs/styles/victorian.css
Due: none

docs: more site fixes for how it works section; docs update for cli for all commands
  docs/CLI.md
  docs/gen_api.py
  docs/styles/mobile.css
  docs/styles/victorian.css
Due: no-print-statements

fix: update reqs; fix system prompt injection in instiller in all components
  mkdocs.yml
  pyproject.toml
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/__init__.py
  tenets/cli/commands/system-instruction.py
  tenets/cli/commands/system_instruction.py
  tenets/config.py
  tenets/core/instiller/instiller.py
  tests/core/instiller/test_system_instruction.py
Due: no-print-statements, version-consistency

docs: site fixes / doc fixes for pages
  docs/DEPLOYMENT.md
  docs/gen_api.py
  docs/includes/abbreviations.md
  docs/index.md
  docs/js/mobile-menu.js
  docs/js/nav-injection.js
  docs/js/page-flags.js
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/overrides/partials/head-meta.html
  docs/quickstart.md
  docs/styles/cards.css
  docs/styles/header.css
  docs/styles/hero.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/see-it-in-action.css
  docs/styles/victorian.css
  mkdocs.dev.yml
  mkdocs.yml
  pyproject.toml
Due: no-print-statements, version-consistency

docs: site fixes / doc fixes for pages, pkg config update
  README.md
  mkdocs.yml
  pyproject.toml
Due: version-consistency
