Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, auto-fix-common

no-print-statements:
  name: Check for print statements
  entry: print\(
  language: pygrep

auto-fix-common:
  name: Auto-fix common Python issues
  entry: bash -c 'for f in "$@"; do sed -i "s/from typing import Dict, List, Optional/from typing import Optional/g" "$f"; done' --
  language: system

fix: syntax issue fix
  tenets/cli/commands/system_instruction.py
Due: auto-fix-common

docs: site revamping / style fixing; add the demo images
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/CONFIG.md
  docs/CONTRIBUTING.md
  docs/docs.md
  docs/features.md
  docs/first-steps.md
  docs/index.md
  docs/installation.md
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/quickstart.md
  tenets/core/summarizer/strategies.py
Due: no-print-statements, auto-fix-common

fix: resolve test failures; fix rich markup issues, sys instruction injection / tenet slow command imports
  tenets/__init__.py
  tenets/cli/commands/instill.py
  tenets/cli/commands/tenet.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/__init__.py
  tests/cli/commands/test_system_instruction.py
  tests/conftest.py
  tests/core/instiller/conftest.py
  tests/core/instiller/test_instiller.py
  tests/test_tenets.py
Due: no-print-statements, auto-fix-common

ci: workflow fix for jest
  .github/workflows/ci.yml
  tenets/__init__.py
  tenets/cli/commands/system_instruction.py
  tenets/core/instiller/instiller.py
  tenets/core/prompt/__init__.py
  tests/conftest.py
  tests/test_tenets.py
Due: no-print-statements, auto-fix-common

fix: make distill cmd use ranker as was supposed to before, hook up nlp tools / refactor comps out; update tests and docs architecture
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/index.md
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/rank.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/strategies.py
  tests/cli/commands/test_rank.py
  tests/cli/test_app.py
Due: no-print-statements, auto-fix-common

docs: fix img links for rank
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/overrides/home.html
  tenets/cli/commands/rank.py
  tests/cli/commands/test_rank.py
Due: auto-fix-common

fix: make rank feature truly composable within distill
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
Due: auto-fix-common

docs: update broken links in docs / style updates
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/assets/images/screenshots/code-analysis.png
  docs/assets/images/screenshots/complexity.png
  docs/assets/images/screenshots/context-building-1.png
  docs/assets/images/screenshots/context-building-2.png
  docs/assets/images/screenshots/quality.png
  docs/assets/images/screenshots/rank.png
  docs/assets/images/screenshots/sessions-1.png
  docs/assets/images/screenshots/sessions-2.png
  docs/assets/images/screenshots/sessions-3.png
  docs/assets/images/screenshots/velocity.png
  docs/assets/images/screenshots/visualization.png
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
  mkdocs.yml
Due: none

fix: resolve test failures; method signatures use keyword args; adjust instiller injection logic to use first distill
  README.md
  pyproject.toml
  pytest.ini
  tenets/__init__.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/ranker.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/core/instiller/test_injector.py
  tests/core/instiller/test_instiller.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Due: no-print-statements, auto-fix-common

fix: linting and broken syntax fixes
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/cli/test_app.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Due: no-print-statements, auto-fix-common

fix: resolve Python 3.11 f-string syntax error in rank
  tenets/cli/commands/rank.py
Due: auto-fix-common

fix: actual fstring fixers for py311
  docs/overrides/home.html
  tenets/cli/commands/rank.py
Due: auto-fix-common

test: fix ML dependency test failures in CI
  .github/workflows/ci.yml
  tests/core/nlp/test_embeddings.py
  tests/core/summarizer/test_summarizer.py
Due: none

test: cleanup; add missing viz depens to ci
  .github/workflows/ci.yml
  README.md
Due: none

fix: refactor project detector out into analysis
  README.md
  tenets/cli/commands/viz.py
  tenets/core/analysis/project_detector.py
  tests/core/analysis/test_project_detector.py
Due: no-print-statements, auto-fix-common

feat: make bm25 into its own comp like tfidf and ensure its used over everything by default; update tests, config
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/analysis/base.py
  tenets/core/analysis/implementations/go_analyzer.py
  tenets/core/analysis/implementations/java_analyzer.py
  tenets/core/analysis/implementations/javascript_analyzer.py
  tenets/core/analysis/implementations/python_analyzer.py
  tenets/core/analysis/project_detector.py
  tenets/core/nlp/bm25.py
  tenets/core/nlp/tfidf.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/strategies.py
  tests/core/analysis/implementations/test_javascript_analyzer.py
  tests/core/analysis/implementations/test_python_analyzer.py
  tests/core/analysis/test_project_detector.py
  tests/core/nlp/test_tfidf.py
Due: no-print-statements, auto-fix-common

fix: add docs info to development doc; search styles fixes; fstring issue with rank
  docs/DEVELOPMENT.md
  docs/favicon/site.webmanifest
  docs/overrides/home.html
  docs/styles/overrides.css
  tenets/cli/commands/rank.py
Due: auto-fix-common

docs: website styles fixes for search
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
Due: none

chore: add LICENSE
  LICENSE
Due: none

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(tests/|examples/|scripts/|tenets/cli/)
  auto-fix-common: any of: \.py$, but not: ^tests/
