Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, auto-fix-common

no-print-statements:
  name: Check for print statements
  entry: print\(
  language: pygrep

auto-fix-common:
  name: Auto-fix common Python issues
  entry: bash -c 'for f in "$@"; do sed -i "s/from typing import Dict, List, Optional/from typing import Optional/g" "$f"; done' --
  language: system

fix: optimize distill performance with parallel analysis and timeout handling
  CHANGELOG.md
  README.md
  docs/CLI.md
  docs/MCP.md
  docs/TESTING.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/config.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/distiller.py
  tenets/core/ranking/ranker.py
  tenets/mcp/server.py
  tenets/utils/tokens.py
  tests/cli/commands/test_distill.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_timeout.py
  tests/mcp/test_cli_entrypoint.py
  tests/mcp/test_server.py
Due: no-print-statements, auto-fix-common

feat: add VSCode extension for Tenets MCP Server
  README.md
  docs/MCP.md
  docs/index.md
  docs/vscode-setup.md
  vscode-extension/.gitignore
  vscode-extension/.vscodeignore
  vscode-extension/LICENSE
  vscode-extension/README.md
  vscode-extension/esbuild.js
  vscode-extension/icon.png
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/serverManager.ts
  vscode-extension/tsconfig.json
Due: none

docs: add VS Code Extension CTA to landing page
  docs/index.md
Due: none

docs: remove duplicate 100% local processing mention from README
  README.md
Due: none

docs: add VS Code Marketplace badge to README
  README.md
Due: none

fix: add scikit-learn and nltk to [mcp] dependencies for TextRank summarization
  pyproject.toml
Due: none

docs: add Claude Code CLI setup instructions
  README.md
  docs/MCP.md
  docs/index.md
Due: none

feat(mcp): add workflow prompts for refactoring, debugging, review, onboarding
  tenets/mcp/server.py
Due: no-print-statements, auto-fix-common

feat(mcp): add resources for ranking factors, active session, hotspots
  tenets/mcp/server.py
Due: no-print-statements, auto-fix-common

feat(cache): add LRU cache utilities for embeddings and rankings
  tenets/utils/cache.py
Due: no-print-statements, auto-fix-common

feat(ranking): integrate caching for ranking scores
  tenets/core/ranking/ranker.py
Due: no-print-statements, auto-fix-common

test(cache): add comprehensive tests for cache utilities
  tests/utils/test_cache.py
Due: none

feat(ranking): add debug mode and detailed explainability
  tenets/core/ranking/factors.py
Due: no-print-statements, auto-fix-common

test(mcp): update tests for new resources and prompts
  tests/mcp/test_server.py
Due: none

fix(test): update prompt name from code_review_context to code_review
  tests/mcp/test_server.py
Due: none

docs: update MCP documentation for consolidated tools
  docs/MCP.md
  docs/index.md
Due: none

chore(release): bump version to v0.9.0 [skip ci]
  pyproject.toml
Due: none

Revert "chore(release): bump version to v0.9.0 [skip ci]"
  pyproject.toml
Due: none

feat(mcp): export MCP_VERSION constant for version introspection
  tenets/mcp/__init__.py
Due: no-print-statements, auto-fix-common

fix(mcp): improve tool discoverability with optimized descriptions and standardized parameters
  CHANGELOG.md
  docs/MCP.md
  tenets/mcp/server.py
Due: no-print-statements, auto-fix-common

fix(docs): update index.md MCP tool descriptions to match improved metadata
  docs/index.md
Due: none

docs: remove duplicate VS Code Marketplace version badge [skip ci]
  README.md
Due: none

fix(summarizer): gracefully handle missing scikit-learn for TextRank
  pyproject.toml
  tenets/__init__.py
  tenets/core/summarizer/summarizer.py
  tests/core/summarizer/test_summarizer.py
Due: no-print-statements, auto-fix-common

fix(ci): use env vars for multiline commit messages in version-bump workflow [skip ci]
  .github/workflows/version-bump-push.yml
Due: none

chore(release): set version to v0.9.2 [skip ci]
  pyproject.toml
  tenets/__init__.py
Due: no-print-statements, auto-fix-common

chore(release): sync version to v0.9.3 to match PyPI [skip ci]
  pyproject.toml
  tenets/__init__.py
Due: no-print-statements, auto-fix-common

feat(mcp): add lazy loading meta-tools for token-efficient tool discovery
  CHANGELOG.md
  README.md
  docs/MCP.md
  pyproject.toml
  tenets/__init__.py
  tenets/mcp/server.py
  tests/mcp/test_lazy_loading.py
  tests/mcp/test_server.py
Due: no-print-statements, auto-fix-common

feat(ranking): persistent incremental BM25/TF-IDF corpus index
  tenets/config.py
  tenets/core/nlp/bm25.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/corpus_index.py
  tenets/core/ranking/ranker.py
  tests/core/nlp/test_persistent_index.py
  tests/core/ranker/test_corpus_index.py
Due: no-print-statements, auto-fix-common

feat(cli): tenets index command + clean MCP logging
  tenets/cli/app.py
  tenets/cli/commands/index.py
  tenets/mcp/server.py
  tenets/utils/logger.py
  tests/cli/test_index_command.py
  tests/utils/test_logging_config.py
Due: no-print-statements, auto-fix-common

fix(mcp): pin cwd to project root so .tenets.yml is reliably loaded
  tenets/mcp/server.py
  tests/mcp/test_project_root.py
Due: no-print-statements, auto-fix-common

fix(cli): close sqlite connection in index status (+ CodeRabbit findings)
  .github/workflows/version-bump-push.yml
  CHANGELOG.md
  tenets/cli/commands/index.py
  tests/utils/test_logging_config.py
Due: auto-fix-common

fix(ranking): correct BM25 corpus on file-emptied update + harden index
  tenets/core/nlp/bm25.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/corpus_index.py
  tenets/core/ranking/ranker.py
  tenets/utils/logger.py
  tests/core/ranker/test_corpus_index.py
Due: no-print-statements, auto-fix-common

perf(ranking): memoize prompt-independent _analyze_corpus (skips O(N^2) import-graph rebuild)
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_corpus_memo.py
Due: no-print-statements, auto-fix-common

fix(ranking): include resolved imports in _analyze_corpus memo key
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_corpus_memo.py
Due: no-print-statements, auto-fix-common

perf(ranking): memoize per-module import resolution (kills O(N^2) import-graph build)
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_import_resolution.py
Due: no-print-statements, auto-fix-common

style(test): black-format test_import_resolution.py
  tests/core/ranker/test_import_resolution.py
Due: none

feat(mcp): self-terminate abandoned stdio servers (idle + orphan watchdog)
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Due: no-print-statements, auto-fix-common

fix(mcp): never reap the stdio server while a request is in flight
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Due: no-print-statements, auto-fix-common

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(tests/|examples/|scripts/|tenets/cli/)
  auto-fix-common: any of: \.py$, but not: ^tests/
