Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, version-consistency

Path conditions:
  no-print-statements: any of: \.py$, but not: ^(tests/|examples/)
  version-consistency: any of: (pyproject\.toml|tenets/__init__\.py)

fix: import / export fixes in core / cli / utils; add chronicle cmd
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/config.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/__pycache__/aggregator.cpython-313.pyc
  tenets/core/distiller/optimizer.py
  tenets/core/instiller/__init__.py
Due: no-print-statements

cleanup and fix asset link in docs
  README.md
  tenets/__pycache__/__init__.cpython-313.pyc
  tenets/__pycache__/config.cpython-313.pyc
  tenets/core/distiller/__pycache__/__init__.cpython-313.pyc
  tenets/core/distiller/__pycache__/aggregator.cpython-313.pyc
  tenets/core/distiller/__pycache__/distiller.cpython-313.pyc
  tenets/core/summarizer/__pycache__/__init__.cpython-313.pyc
  tenets/core/summarizer/__pycache__/summarizer.cpython-313.pyc
  tenets/models/__pycache__/analysis.cpython-313.pyc
  tenets/models/__pycache__/context.cpython-313.pyc
  tenets/models/__pycache__/summary.cpython-313.pyc
  tenets/utils/__pycache__/logger.cpython-313.pyc
  tenets/utils/__pycache__/tokens.cpython-313.pyc
Due: none

fix: mv logos
  docs/logos/tenets_dark_icon.png
  docs/logos/tenets_light_icon.png
Due: none

fix: readme link for logo
  README.md
Due: none

fix: cache+git APIs, default to quiet logging, remove git context from output add verbose diagnostics and suggestions; models back-compat; update CLI docs
  docs/CLI.md
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/config.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/formatter.py
  tenets/core/git/analyzer.py
  tenets/models/analysis.py
  tenets/utils/logger.py
Due: no-print-statements, version-consistency

feat: add session reset cmd and logic, update docs
  README.md
  docs/CLI.md
  tenets/cli/commands/config.py
  tenets/cli/commands/session.py
Due: no-print-statements

fix: import / exports for ranker that were missing; update new testing docs
  docs/TESTING.md
  tenets/core/ranker/ranker.py
  tenets/core/ranking/ranker/__init__.py
Due: no-print-statements

fix: test fixes, tenetsconfig setters; default promptcontext; include git context in markdown
  tenets/config.py
  tenets/core/distiller/formatter.py
  tenets/models/context.py
  tenets/models/summary.py
  tests/conftest.py
Due: no-print-statements

fix: update docs; release env var fix; proper session states
  .github/workflows/release.yml
  README.md
  docs/CLI.md
  tenets/cli/commands/session.py
  tenets/storage/session_db.py
Due: no-print-statements

docs: logo updates
  README.md
  docs/logos/tenets_dark_icon_transparent.png
Due: none

fix: config docs add and make config more robust for thresholds
  README.md
  docs/CONFIG.md
  tenets/cli/commands/config.py
Due: no-print-statements

feat: add optional stopwords consideration to tfidf ranking
  tenets/core/ranking/ranker/__init__.py
  tenets/core/ranking/ranker/ranker.py
  tenets/core/ranking/stopwords.txt
Due: no-print-statements

docs: revamping mkdocs styles and content
  docs/BRANDING.md
  docs/CLI.md
  docs/api/index.md
  docs/favicon/android-chrome-192x192.png
  docs/favicon/android-chrome-512x512.png
  docs/favicon/apple-touch-icon.png
  docs/favicon/favicon-16x16.png
  docs/favicon/favicon-32x32.png
  docs/favicon/favicon.ico
  docs/favicon/site.webmanifest
  docs/index.md
  docs/js/architecture-diagram.js
  docs/js/github-stats.js
  docs/js/lantern.js
  docs/js/main.js
  docs/js/nav-injection.js
  docs/js/search-enhancements.js
  docs/js/terminal.js
  docs/js/typewriter.js
  docs/logos/tenets_dark_icon_transparent_cropped.png
  docs/logos/tenets_light_icon_transparent.png
  docs/logos/tenets_light_icon_transparent_cropped.png
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/buttons.css
  docs/styles/cards.css
  docs/styles/footer.css
  docs/styles/header.css
  docs/styles/hero.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/neumorphic.css
  docs/styles/search.css
  docs/styles/terminal.css
  docs/styles/variables.css
  docs/styles/victorian.css
  mkdocs.yml
Due: none

fix: fix existing unit tests
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CNAME
  MAKEFILE
  README.md
  pyproject.toml
  tenets/__init__.py
  tenets/config.py
  tenets/core/analysis/analyzer.py
  tenets/core/analysis/python_analyzer.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/formatter.py
  tenets/core/prompt/parser.py
  tenets/core/session/session.py
  tenets/core/summarizer/summarizer.py
  tenets/models/analysis.py
  tenets/models/context.py
  tenets/models/summary.py
  tenets/models/tenet.py
  tenets/storage/cache.py
  tenets/utils/logger.py
  tenets/utils/tokens.py
  tests/conftest.py
  tests/core/analysis/test_python_analyzer.py
  tests/core/distiller/test_aggregator.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_formatter.py
  tests/core/git/test_git_analyzer.py
  tests/core/ranker/test_ranker.py
  tests/core/session/test_session.py
  tests/core/summarizer/test_summarizer.py
  tests/utils/test_tokens.py
Due: no-print-statements, version-consistency

cleanup
  CNAME
Due: none

feat: stop words integration (optional) in config / cli
  docs/CLI.md
  docs/CONFIG.md
  tenets/cli/commands/distill.py
  tenets/config.py
Due: no-print-statements

add explicit datetime adapters/converters, switch to UTC-aware timestamps, and enable thread-safe connections to fix Python 3.12 deprecations
  tenets/storage/session_db.py
  tenets/storage/sqlite.py
Due: no-print-statements

feat: some cleanup; docs revamp; add file / folder aggregation commands, condense and comment removal features; update tests
  README.md
  docs/BRANDING.md
  docs/CLI.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/instill.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/transform.py
  tenets/core/ranker/__init__.py
  tenets/core/ranker/ranker.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/ranker.py
  tenets/models/context.py
  tests/core/distiller/test_distiller.py
Due: no-print-statements, version-consistency

docs: update docs with new ranking feats / organization
  README.md
  docs/CONFIG.md
  docs/api/index.md
Due: none

docs: cleanup / update with better info
  README.md
Due: none

feat: add copy and output cmds to cli and config
  README.md
  docs/CLI.md
  docs/CONFIG.md
  tenets/cli/commands/distill.py
  tenets/config.py
Due: no-print-statements

docs: revamp docs, add COC, contributing, security, and development / deployment updates; changelog add, more
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/SECURITY.md
  docs/features.md
  docs/index.md
  docs/quickstart.md
  docs/supported-languages.md
Due: none

chore: workflow integrations w actions changelog
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/auto-label.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/version-bump.yml
  CHANGELOG.md
  README.md
  mkdocs.yml
Due: none

linting
  tenets/cli/commands/distill.py
Due: no-print-statements

chore: fix version bump actions
  .github/workflows/manual-version-bump.yml
Due: none

fix: style fixes in docs site
  docs/styles/animations.css
  docs/styles/nav-fixes.css
Due: none

chore: fix workflow actions for v4 and auto releasing
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/auto-label.yml
  .github/workflows/ci.yml
  .github/workflows/manual-version-bump.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
  pyproject.toml
  pytest.ini
Due: version-consistency

chore: fix actions flows
  .github/labeler.yml
  pyproject.toml
Due: version-consistency

chore: fix pyproject inline comments rmv
  docs/ARCHITECTURE.md
  docs/DEEP-DIVE.md
  pyproject.toml
Due: version-consistency

chore: fix gh actions isort continuing and pytest.ini duplicates
  .github/workflows/ci.yml
  pytest.ini
Due: none

docs: cleanup
  README.md
Due: none

fix: mkdocs search options correction
  mkdocs.yml
Due: none

fix: broken mkdocs link
  mkdocs.yml
Due: none

docs: broken link / filter type fixes
  docs/features.md
  docs/overrides/home.html
  docs/overrides/main.html
  docs/quickstart.md
Due: none

fix: mkdocs extra templates removal since we have custom templates dir
  mkdocs.yml
Due: none

fix: type fixes for deprecated typings; ruff config fixes
  pyproject.toml
  pytest.ini
  tenets/__init__.py
  tenets/models/llm.py
  tenets/models/tenet.py
  tenets/storage/session_db.py
  tenets/utils/tokens.py
Due: no-print-statements, version-consistency
