Repository jddunn/tenets: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, auto-fix-common

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Auto-update: pre-commit autoupdate

# Remove or change this for Windows compatibility
# default_language_version:
#   python: python3.11

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe'] # Allow custom tags
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: trailing-whitespace

  # Python code formatting - BLACK (AUTO-FIXES)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        # Remove language_version for Windows
        args: ['--config=pyproject.toml']

  # Import sorting - ISORT (AUTO-FIXES)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ['--settings-path=pyproject.toml']

  # Python linting with Ruff (AUTO-FIXES)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix', '--show-fixes']
      - id: ruff-format # Alternative formatter to black if needed

  # Security linting
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '-ll'] # Low severity
        additional_dependencies: ['bandit[toml]']
        exclude: '^tests/'

  # YAML/Markdown formatting (AUTO-FIXES)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, markdown]
        exclude: '^(docs/|CHANGELOG.md)'
        args: ['--single-quote', '--print-width=100']

  # Markdown linting (AUTO-FIXES)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013', 'MD033'] # Disable line length and HTML
        exclude: '^(docs/|CHANGELOG.md)'

  # Commit message linting (for conventional commits)
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Secret scanning (IMPORTANT FOR SECURITY)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(.*\.lock|package-lock\.json)$'

  # Custom local hooks
  - repo: local
    hooks:
      # Check for print statements
      - id: no-print-statements
        name: Check for print statements
        entry: 'print\('
        language: pygrep
        types: [python]
        exclude: '^(tests/|examples/|scripts/|tenets/cli/)'

      # Auto-fix common issues
      - id: auto-fix-common
        name: Auto-fix common Python issues
        entry: bash -c 'for f in "$@"; do sed -i "s/from typing import Dict, List, Optional/from typing import Optional/g" "$f"; done' --
        language: system
        types: [python]
        exclude: '^tests/'

# Configuration for pre-commit.ci (if you use it)
ci:
  autofix_commit_msg: |
    style: auto-fixes from pre-commit hooks [skip ci]

    Co-authored-by: pre-commit-ci[bot] <66853113+pre-commit-ci[bot]@users.noreply.github.com>
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: 'chore: pre-commit autoupdate [skip ci]'
  autoupdate_schedule: weekly
  skip: [mypy, no-print-statements] # Too slow for CI
  submodules: false

fix: add json based extensive pattern recognition for regex / matching
  tenets/data/pattterns/entity_patterns.json
  tenets/data/pattterns/external_patterns.json
  tenets/data/pattterns/intent_patterns.json
  tenets/data/pattterns/programming_patterns.json
  tenets/data/pattterns/temporal_patterns.json
Due: none

fix: lint / precommit fixes
  mkdocs.yml
  tenets/__init__.py
  tenets/core/prompt/__init__.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/external_sources.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/utils/external_sources.py
  tenets/viz/__init__.py
  tests/core/prompt/test_cache.py
  tests/core/prompt/test_entity_recognizer.py
  tests/core/prompt/test_intent_detector.py
  tests/core/prompt/test_parser.py
  tests/core/prompt/test_temporal_parser.py
  tests/utils/test_external_sources.py
Due: no-print-statements, auto-fix-common

fix: unit test fixes (67% coverage)
  tenets/__init__.py
  tenets/core/distiller/optimizer.py
  tenets/core/distiller/transform.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/examiner/metrics.py
  tenets/core/examiner/ownership.py
  tenets/core/git/analyzer.py
  tenets/core/git/blame.py
  tenets/core/git/chronicle.py
  tenets/core/instiller/instiller.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/similarity.py
  tenets/core/nlp/tfidf.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/external_sources.py
  tenets/utils/scanner.py
  tenets/viz/__init__.py
  tenets/viz/base.py
  tenets/viz/complexity.py
  tests/conftest.py
Due: no-print-statements, auto-fix-common

docs: working site docs, nav, animations optimized
  docs/CLI.md
  docs/api/index.md
  docs/api/reference.md
  docs/gen_api.py
  docs/index.md
  docs/js/copy-buttons.js
  docs/js/lantern.js
  docs/js/main-simple.js
  docs/js/main.js
  docs/js/mobile-menu.js
  docs/js/page-flags.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
Due: no-print-statements, auto-fix-common

docs: add security readme
  SECURITY.md
Due: none

fix: examiner fixes for code health analysis looking at actual hotspots and recs medatata; better html reports
  tenets/cli/commands/examine.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tests/cli/commands/test_examine.py
  tests/core/examiner/test_examiner.py
  tests/core/reporter/test_generator.py
  tests/core/reporting/test_report_enhancements.py
Due: no-print-statements, auto-fix-common

fix: distill command issues; add verbose debugging; thresholds improvements and rejection tracking
  tenets/cli/commands/distill.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
Due: no-print-statements, auto-fix-common

feat: add automatic tests exclusion to changes unless specifically mapped in intents; styling
  README.md
  docs/ARCHITECTURE.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/examiner/examiner.py
  tenets/core/prompt/parser.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/logger.py
  tests/cli/commands/test_distill.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/test_config.py
  tests/utils/test_tokens.py
Due: no-print-statements, auto-fix-common

feat: add context aware docs summarization
  README.md
  docs/ARCHITECTURE.md
  tenets/core/distiller/aggregator.py
  tests/core/prompt/test_documentation_keywords.py
  tests/core/summarizer/test_docs_context_summarization.py
Due: no-print-statements, auto-fix-common

feat: add timing to all major commands; update tests, examples; cleanup
  .gitignore
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/__init__.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/timing.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/ranker/test_ranker.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/utils/test_logger.py
  tests/utils/test_timing.py
Due: no-print-statements, auto-fix-common

feat: better visualization / working viz e2e for html reporting; add viz cheatsheet docs
  README.md
  conftest.py
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/VIZ_CHEATSHEET.md
  pyproject.toml
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/viz.py
  tenets/core/analysis/__init__.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/project_detector.py
  tenets/core/prompt/normalizer.py
  tenets/core/prompt/parser.py
  tenets/utils/scanner.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/test_project_detector.py
  tests/viz/test_graph_generator.py
Due: no-print-statements, auto-fix-common

docs: feature card text style fixes
  docs/styles/cards.css
  docs/styles/overrides.css
Due: none

feat: monkeypatchable logger everywhere; parallelize processing for speed when it wasnt before; update docs as needed / test fixes
  .tenets.example.yml
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/viz.py
  tenets/config.py
  tenets/core/__init__.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/git/__init__.py
  tenets/core/git/analyzer.py
  tenets/core/git/chronicle.py
  tenets/core/git/stats.py
  tenets/core/momentum/tracker.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/project_detector.py
  tenets/core/ranking/ranker.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/logger.py
  tenets/utils/timing.py
  tenets/viz/__init__.py
  tenets/viz/displays.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docstring_weight.py
  tests/core/test_project_detector.py
Due: no-print-statements, auto-fix-common

fix: keyword extracting in test fixes; broken docs links updatig; py312 testing compatibility; docs site style fixes for nav
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/best-practices.md
  docs/docs.md
  docs/examples.md
  docs/first-steps.md
  docs/installation.md
  docs/js/mobile-menu.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/nav-fix.css
  mkdocs.dev.yml
  pyproject.toml
  tenets/core/nlp/keyword_extractor.py
  tests/core/nlp/test_keyword_extractor.py
Due: no-print-statements, auto-fix-common

fix: update py312 test compatibility
  pytest_py312.ini
Due: none

ci: add missing codecov config
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  tenets/cli/app.py
  tenets/cli/commands/tenet.py
Due: auto-fix-common

fix: missing param accepted in distill; proper lazy importing; fix circular logger import dep; fix some broken tests
  README.md
  pytest.ini
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/instiller.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/logger.py
  tests/cli/commands/test_tenet.py
Due: no-print-statements, auto-fix-common
